body{
    display: flex;
    margin: 0;
    background: linear-gradient(rgb(29, 27, 27), grey);
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    width: 450px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

#btn{
    margin-bottom: 30px;
    background-color: green;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

#btn:hover{
    background-color: rgb(33, 143, 33);
}

#btn:disabled{
    background-color: grey;
    cursor: not-allowed;
}


#anime-image{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 50%;
}

.anime-name{
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    color: white;
}

.animeImageHolder{
    display: none;
}